@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    @font-face {
        font-family: 'Nunito';
        src: url('../fonts/Nunito-Regular.ttf');
    }
    @font-face {
        font-family: 'Nunito';
        src: url('../fonts/Nunito-Italic.ttf');
        font-style: italic;
    }
    @font-face {
        font-family: 'Nunito';
        src: url('../fonts/Nunito-Bold.ttf');
        font-weight: bold;
    }
    @font-face {
        font-family: 'Nunito';
        src: url('../fonts/Nunito-BoldItalic.ttf');
        font-weight: bold;
        font-style: italic;
    }
    @font-face {
        font-family: 'Nunito';
        src: url('../fonts/Nunito-ExtraBold.ttf');
        font-weight: 800;
    }
    @font-face {
        font-family: 'Nunito';
        src: url('../fonts/Nunito-ExtraBoldItalic.ttf');
        font-weight: 800;
        font-style: italic;
    }

    html {
        font-size: 18px;
    }
    h1 {
        @apply text-2xl font-bold;
    }
    h2 {
        @apply text-xl font-semibold;
    }
}
